<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="input_teste" id="input_teste">
    <label for="input_teste">Insira aqui o nome</label>

    <input type="text" name="input_teste2" id="input_teste2">
    <label for="input_teste2">Insira aqui o apelido</label>

    <h1><%= conteudo %></h1>

</body>
</html>